* {
  box-sizing: border-box;
  font-family: "Jersey 25", sans-serif;
  color: #dcdde1;
}

body {
  background-color: #0d1b2a;
}

.header {
  padding: 0px;
  background-color: #1b263b;
  margin-bottom: 54px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__name {
  margin-left: 16px;
}
.header__nav__lista {
  display: flex;
  list-style: none;
  justify-content: end;
  border-right: 16px;
}
.header__nav__lista__item {
  margin-right: 50px;
  font-size: 24px;
}
.header__nav__lista__item__link {
  display: inline-block;
  text-decoration: none;
  transition: transform 0, 4s ease-in-out;
}
.header__nav__lista__item__link:hover {
  transform: scale(1.2);
  color: #0077b6;
}

.container {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
}

.home__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dcdde1;
  margin-top: 20px;
}
.home__profile__foto {
  border-radius: 50%;
  width: 50%;
}
.home__profile__tittle {
  font-size: 3em;
  margin-bottom: 16px;
}
.home__profile__texto {
  font-weight: lighter;
  margin: 0;
  text-align: center;
}
.home__redes {
  margin: 0 auto;
  display: flex;
  max-width: 200px;
  justify-content: space-around;
  margin-top: 50px;
}
.home__redes__logo {
  display: inline-block;
  font-size: 42px;
  transition: transform 0, 4s ease-in-out;
}
.home__redes__logo:hover {
  transform: scale(1.5);
}

.projetos__lista {
  display: flex;
  list-style: none;
  align-items: center;
}
.projetos__lista__item__foto {
  width: 300px;
  border-color: black solid;
}