
@use './colors.scss';
@use './fonts.scss';

*{
    box-sizing: border-box;
    font-family: fonts.$pixelFont;
    color: colors.$fontColor;
}

body{
    background-color: colors.$backgroundColor;
}

.header{
    padding: 0px;
    background-color: colors.$headerColor;
    margin-bottom: 54px;

    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name{
            margin-left: 16px;
        }

        &__lista{
            display: flex;
            list-style: none;
            justify-content: end;
            border-right: 16px;

            &__item{
                margin-right: 50px;
                font-size: 24px;

                &__link{
                    display: inline-block;
                    text-decoration: none;
                    transition: transform 0,4s ease-in-out;

                    &:hover{
                        transform: scale(1.2);
                        color: #0077b6;
                    }
                }
            }
        }
    }
}

.container{
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
}
.home{
    
    &__profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: colors.$fontColor;
        margin-top: 20px;

        &__foto{
            border-radius: 50%;
            width: 50%;
        }

        &__tittle{
            font-size: 3em;
            margin-bottom: 16px;
        }

        &__texto{
            font-weight:lighter;
            margin: 0;
            text-align: center;
        }
    }

    &__redes{
        margin: 0 auto;
        display: flex;
        max-width: 200px;
        justify-content: space-around;
        margin-top: 50px;

        &__logo{
            display: inline-block;
            font-size: 42px;
            transition: transform 0,4s ease-in-out;
            
            &:hover{
                transform: scale(1.5);
            }
        }
    }
}

.projetos{

    &__lista{
        display: flex;
        list-style: none;
        align-items: center;

        &__item{

            &__foto{
                width: 300px;
                border-color: black solid;
            }
        }
    }
}
